*.exe
*.log
__pycache__
.mypy_cache
.pytest_cache
desktop.ini
InputDataGeneration/Control_Input.txt
InputDataGeneration/Input/*
InputDataGeneration/Tool/Intermediate.gdb/*
InputDataGeneration/Sim/*
Output/*
Simulation/BaseData/*
!Simulation/BaseData/Migration_Rate.csv
Simulation/Control_Sim.txt
Simulation/Parameter/Incoming_Rate.csv
Simulation/Parameter/Outgoing_Rate.csv
Simulation/Parameter/NLG1_NewStr_estimates.csv
Simulation/Parameter/NLG2_NewStr_estimates.csv
Simulation/Parameter/NLG3_NewStr_estimates.csv
Simulation/Parameter/NLG4_NewStr_estimates.csv
Simulation/Scenario/*
Simulation/Sim/*
